# 가상 환경
venv/
venv_py311/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Python 바이트 코드 파일
__pycache__/
*.py[cod]
*$py.class

# C 확장 파일
*.so

# 배포 / 패키징
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
temp/

# 유닛 테스트 / 커버리지 보고서
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# 파이썬 번역
*.mo
*.pot

# Flask 관련
instance/
.webassets-cache

# 환경 변수 파일
.env

# 로그 파일
*.log

# TTS 및 Whisper 모델 파일 (필요에 따라)
models/

# IDE 특정 파일
.idea/
.vscode/
*.swp
*.swo
.DS_Store

temp/

*.tar